@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #271B23;
  --primary-bright: #493946dc;
  --primary-dark: #3d333b5e;
  --primary-text: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--primary-color);
  font-family: 'Rubik', sans-serif;
  color: var(--primary-text);
  font-size: 0.8rem;
  line-height: 1.5;
}

.bg-background {
  position: absolute;
  width: 100%;
  height: 14rem;
  z-index: -1;
}

.bg-background .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -11;
}

.bg-background .bg-grad {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--primary-color)), color-stop(50%, transparent)), -webkit-gradient(linear, left bottom, left top, from(var(--primary-color)), to(transparent));
  background-image: linear-gradient(to right, var(--primary-color) 0%, transparent 50%), linear-gradient(to top, var(--primary-color) 0%, transparent 100%);
  background-size: 100% 100%;
  z-index: -10;
}

nav {
  position: relative;
  height: 8rem;
}

nav .month {
  position: absolute;
  margin: 0;
  top: 0.8rem;
  left: 2.3rem;
  text-transform: uppercase;
  font-size: 3rem;
}

nav .year {
  font-weight: 300;
}

nav .subtitle {
  position: absolute;
  top: 3.8rem;
  left: 2.3rem;
  font-weight: 300;
}

nav .arrowwrapper {
  position: absolute;
  width: 1.5rem;
  height: 3rem;
  top: 1.3rem;
  left: 21rem;
}

nav .al {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: 50% 42%;
          transform-origin: 50% 42%;
  left: 0rem !important;
}

.heightwrap {
  height: auto;
}

.widthwrap {
  max-width: 90vw;
  padding: 0 0.7rem 0.7rem;
  margin: auto;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.calendar__header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.current-month {
  display: inline;
  font-size: 3rem;
  font-weight: 700;
  margin-right: 0.6rem;
  text-transform: uppercase;
}

.current-year {
  display: inline;
  font-size: 3rem;
  font-weight: 300;
}

.calendar .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar .box {
  width: calc(1/7 * 100%);
  padding-top: calc(1/7 * 100%);
  margin: 1% 0.4%;
  font-size: 20px;
  position: relative;
  border-radius: 1.2rem;
  background: var(--primary-bright);
  overflow: hidden;
}

.calendar .box span {
  position: absolute;
  color: var(--primary-text);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar .box.today {
  background-color: var(--primary-text);
  color: var(--primary-color);
}

.calendar .box.today span {
  color: var(--primary-color);
}

.calendar .box.in-prev-month,
.calendar .box.in-next-month {
  background: var(--primary-dark);
}

.calendar__header_days {
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.calendar__header_days .column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  width: 2.2rem;
  position: relative;
}

.btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .calendar .box {
    font-size: 16px;
  }
  .calendar__header_top {
    font-size: 20px;
    width: 30px;
    height: 30px;
  }
}

.calendar_container {
  height: 80vw;
}

.card {
  position: relative;
  border-radius: 1.2rem;
  background: #493946dc;
  overflow: hidden;
}

.dcard {
  background: #3d333b5e;
  overflow: hidden;
}

.dcard > div > span {
  opacity: 0.3;
}

.datewrapper {
  position: absolute;
  margin-top: 0.4rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  z-index: 1;
}

.dc {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.dl {
  left: 0.4rem;
}

.dg {
  background-color: #DE6275;
}

.dg > span {
  opacity: 1;
}

.date {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.5;
}

.ltext {
  color: var(--primary-text);
  font-size: 0.8rem;
  z-index: 1;
}

.gtitle {
  margin: 0.6rem;
  position: absolute;
  bottom: 0;
  width: calc(100% - 1.2rem);
}

.bg {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.bg:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

#b03_2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url("../img/03_2021/maquette.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url("../img/03_2021/maquette.jpg");
}

.g234 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 0.2rem;
          column-gap: 0.2rem;
  row-gap: 0.2rem;
}

.g234 a {
  position: relative;
}

.modal {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
  z-index: 2;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #493946f2;
  padding: 1rem 1.5rem;
  width: 60vw;
  height: 60vh;
  border-radius: 1rem;
}

.close {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  font-size: 2.5rem;
  text-align: center;
  cursor: pointer;
  color: #271B23;
  border-radius: 0.25rem;
}

.close:hover {
  color: #130d11;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}
/*# sourceMappingURL=main.css.map */