<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Upcoming Games</title>
        <meta name="description" content="Website with all the upcoming games.">
        <meta name="author" content="Max Werner">
        <link rel="stylesheet" href="assets/css/main.css">
    </head>

    <style>

    </style>
<body>

<div class="heightwrap">
    <div class="bg-background">
        <img class="bg-image" src="{{ entry.backgroundImage.one().url }}">
        <div class="bg-grad"></div>
    </div>
    <div class="widthwrap">      


 <div class="calendar" data-calendar></div>

{% set blocks = entry.gameEntries.gameReleaseDate('2021-01-01').all() %}
{% if blocks|length %}
  <ul>
    {% for block in blocks %}
       <p>{{ block.gameReleaseDate | date('Y-m-d') }}</p>

       <p>{{ block.gameDescription }}</p>
    {% endfor %}
  </ul>
{% endif %}

        <script src="assets/scripts/calendar.js"></script>
</body>
</html>